---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
SpacesBeforeTrailingComments: 1
PointerAlignment: Right
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false 
BinPackParameters: false
BreakBeforeBraces: Attach
BreakStringLiterals: true
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Regroup
MaxEmptyLinesToKeep: 1
IndentCaseLabels: true
IndentPPDirectives: AfterHash
SortIncludes: true
ReflowComments: true

...
